.login-text {
    /* Login your account */

    position: absolute;
    width: 386px;
    height: 49px;
    left: 123px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40.6066px;
    line-height: 49px;

    color: #8F1402;


}

.login-form {
    /* Username or Email */

    position: absolute;
    width: 260px;
    height: 40px;
    left: 86px;
    top: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 133% */

    color: #000000;




}

.form-control {
    font-weight: bold;


    opacity: 0.7;


    box-sizing: border-box;


    width: 504px;
    height: 79px;


    background: rgba(217, 217, 217, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50px;

}

.forgot-password-link {
    /* Forgot password? */

   
    width: 205px;
    height: 40px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 40px;
    /* identical to box height, or 160% */

    color: #000000;


}
.login-button{

width: 204px;
height: 67px;

background: #8F1402;
border-radius: 50px;


font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 36px;

color: #FFFFFF;





}

.register{
    /* Don’t have an account? Register now */


width: 428px;
height: 40px;


font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 40px;
/* identical to box height, or 160% */




}
.register-link{
    color :#8F1402;
}
.right-section{
    /* WHERE TODAY’S IDEAS TURN INTO TOMORROW’S REALITY */

position: absolute;
width: 708px;
height: 122px;
left: calc(50% - 708px/2 + 312px);
top: 160px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 50px;
line-height: 61px;
text-align: center;

color: #FFFFFF;
background-color: #8F1402;
/* Rectangle 1 */

position: absolute;
width: 817px;
height: 1106px;
left: 623px;


background: linear-gradient(180deg, #000000 0%, rgba(115, 115, 115, 0) 100%);

}